<html>
	<head>
	</head>
	<body>
	Loading Piazza...
	<form id="ltiLaunchFormSubmitArea" style="display:block" action="${launch_url}" name="ltiLaunchForm" id="ltiLaunchForm" method="post" encType="application/x-www-form-urlencoded">'
	    % for key in launch_data:
	        <input type="hidden" name="${key}" value="${str(launch_data[key])}"/>
	    % endfor
	<input type="submit" value="Go to Piazza" style="display:none"></input>
	</form>
	<script language="javascript">
		document.ltiLaunchForm.submit();
	</script>;
	</body>
</html>