<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>About NAME OF NEW CVN SITE</title></%block>

<section class="container about">
  <nav>
    <a href="#about" class="active">About</a>
    <a href="#faq">Faq</a>
    <a href="#contact">Contact</a>
  </nav>

  <section class="vision">
    <section class="message left" id="about">
      <div class="photo">
        <img src="${static.url('themes/stanford/images/nyc.jpg')}">
      </div>
      <article>
        <h2>About <span class="edx">NAME OF NEW CVN SITE</span></h2>
        <p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

    <section class="message left" id="faq">
      <div class="photo">
        <img src="${static.url('themes/stanford/images/nyc.jpg')}">
      </div>
      <article>
        <h2>FAQs</h2>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

    <section class="message left" id="contact">
      <div class="photo">
        <img src="${static.url('themes/stanford/images/nyc.jpg')}">
      </div>
      <article>
        <h2>Contact Information</h2>
        <p><strong>For general information email us at:</strong><br />
        <a href="mailto:contact@example.com">contact@example.com</a></p>

      </article>
      <hr class="fade-right-hr-divider">
    </section>
  </section>

</section>
