<%! from django.utils.translation import ugettext as _ %>

<%!
  from django.core.urlresolvers import reverse
  from courseware.courses import course_image_url, get_course_about_section
  from courseware.access import has_access
  from certificates.models import CertificateStatuses
  
  from xmodule.modulestore import MONGO_MODULESTORE_TYPE
  from xmodule.modulestore.django import modulestore

  import waffle
%>
<%inherit file="main.html" />

<%namespace name='static' file='static_content.html'/>

<%block name="title"><title>${_("Dashboard")}</title></%block>
<%block name="bodyclass">view-dashboard is-authenticated</%block>

<%block name="js_extra">
<script type="text/javascript" src="${static.url('js/vendor/jquery.form.js')}"></script>
  <script type="text/javascript">
  (function() {

    $(".email-settings").click(function(event) {
      $("#email_settings_course_id").val( $(event.target).data("course-id") );
      $("#email_settings_course_number").text( $(event.target).data("course-number") );
      if($(event.target).data("optout") == "False") {
        $("#receive_emails").prop('checked', true);
      }
    });

    $(".unenroll").click(function(event) {
      $("#unenroll_course_id").val( $(event.target).data("course-id") );
      $("#unenroll_course_number").text( $(event.target).data("course-number") );
    });

    $('#unenroll_form').on('ajax:complete', function(event, xhr) {
      if(xhr.status == 200) {
        location.href = "${reverse('dashboard')}";
      } else if (xhr.status == 403) {
        location.href = "${reverse('signin_user')}?course_id=" +
          $("#unenroll_course_id").val() + "&enrollment_action=unenroll";
      } else {
        $('#unenroll_error').html(
          xhr.responseText ? xhr.responseText : "An error occurred. Please try again later."
        ).stop().css("display", "block");
      }
    });

    /*
    $('#pwd_reset_button').click(function() {
      $.post('${reverse("password_reset")}',
             {"email"  : $('#id_email').val()},
             function(data){
               $("#password_reset_complete_link").click();
             });
    });
    */

    /*
    $("#change_email_form").submit(function(){
      var new_email = $('#new_email_field').val();
      var new_password = $('#new_email_password').val();

      $.post('${reverse("change_email")}',
               {"new_email" : new_email, "password" : new_password},
               function(data) {
                 if (data.success) {
                   $("#change_email_title").html("Please verify your new email");
                   $("#change_email_form").html("<p>You'll receive a confirmation in your " +
                                                "in-box. Please click the link in the " +
                                                "email to confirm the email change.</p>");
                   $("#change_email_form").html("<p>${_('You\'ll receive a confirmation in your in-box. Please click the link in the email to confirm the email change.')}</p>");
                 } else {
                   $("#change_email_error").html(data.error).stop().css("display", "block");
                 }
               });
      return false;
    });

    $("#change_name_form").submit(function(){
      var new_name = $('#new_name_field').val();
      var rationale = $('#name_rationale_field').val();

      $.post('${reverse("change_name")}',
             {"new_name":new_name, "rationale":rationale},
             function(data) {
               if(data.success) {
                 location.reload();
                 // $("#change_name_body").html("<p>Name changed.</p>");
               } else {
                 $("#change_name_error").html(data.error).stop().css("display", "block");
               }
             });
       return false;
    });
    */
    /*
    $("#change_proctorinfo_form").submit(function(){

      $.get("${reverse('change_proctorinfo')}",
             this.formSerialize(),
             function(data) {
               if(data.success) {
                 ("success!");
                 $("#change_proctorinfo_body").html("<p>Proctor info changed.</p>");
               } else {
                ("error!");
                 $("#change_proctorinfo_error").html(data.error).stop().css("display", "block");
               }
             });
       return false;
    });
  */

    $("#change_proctorinfo_form").submit(function(){
      $.ajax({
        type: "GET",
        url: "${reverse('change_proctorinfo')}",
        data: $(this).serializeArray(),
        success: function(data) {
          if(data.success) {
            //alert("Yeah!");
            //$("#change_proctorinfo_body").html("<p>Proctor info changed.</p>");
            $("#change_proctorinfo_error").css("display", "none");
            $("#change_proctorinfo_success").text("You have successfully updated your proctor information.").stop().css("display", "block");
          } else {
            $("#change_proctorinfo_success").css("display", "none");
            $(".change_proctorinfo_error").css("display", "none");
            var printable = "Please correct the following form errors and submit this form again:<ul>";
            /*
            for(var formElement in form) {
              try{
                $("#proctor_"+formElement+"_error").css("display", "none");
              }
            }
            */
            for(var field in data.errors) {
              printable += "<li>"+field+":"+data.errors[field][0]+"</li>";
              //$("#proctor_"+field+"_error").text(data.errors[field][0]).stop().css("display", "block");
            }
            printable += "</ul>";
            $("#change_proctorinfo_error").html(printable).stop().css("display", "block");
          }
        },
        error: function(xhr, textStatus, error) {
          //alert(error);
          $("#change_proctorinfo_error").html("There's been an error updating your proctor's information. Please reload the page and try again.").stop().css("display", "block");
        }
      });
      return false;
    });
    /*
    $('#change_proctorinfo_form').ajaxForm({
      url:"${reverse('change_proctorinfo')}",
    	success:function() {
            alert("${reverse('change_proctorinfo')} Your proctor's information has been successfully updated!"); 
    	},
    	error:function(error) {
    		//$("#change_proctorinfo_error").html(JSON.stringify(error))
    		//$("body").html(error.responseText);
    		$('#change_proctorinfo_form').html(error.responseText);
    		alert("There was an error!"+JSON.stringify(error));
    	}
    })
    */
    	
    /* 
    $("#change_proctorinfo_form").validate({
        invalidHandler: function(event, validator) {
            alert("failure :(")
            $("#change_proctorinfo_error").html(data.error).stop().css("display", "block");
            document.body.scrollTop = document.documentElement.scrollTop = 0;
            return false;
        }
        submitHandler: function(form) {
            form.submit(function(){
                var paramObj = {};
                $.each($(this).serializeArray(), function(_, kv) {
                    paramObj[kv.name] = kv.value;
                });
                //alert(JSON.stringify(paramObj));
                //return false;
                document.body.scrollTop = document.documentElement.scrollTop = 0;
                $.post('${reverse("change_email")}',
                   paramObj,
                   function(data) {
                     alert(JSON.stringify(data));
                     if (data.success) {
                       alert("success!")
                       $("#change_proctorinfo_title").html("Please verify your new email");
                       $("#change_proctorinfo_form").html("<p>You'll receive a confirmation in your " +
                                                    "inbox. Please click the link in the " +
                                                    "email to confirm the email change.</p>");
                       $("#change_proctorinfo_form").html("<p>${_('You\'ll receive a confirmation in your in-box. Please click the link in the email to confirm the email change.')}</p>");
                     } else {
                       alert("failure :(")
                       $("#change_proctorinfo_error").html(data.error).stop().css("display", "block");
                       document.body.scrollTop = document.documentElement.scrollTop = 0;
                     }
                   });
                return false;
            });
        }
    });
    */

    $("#email_settings_form").submit(function(){
      $.ajax({
        type: "POST",
        url: '${reverse("change_email_settings")}',
        data: $(this).serializeArray(),
        success: function(data) {
          if(data.success) {
            location.href = "${reverse('dashboard')}";
          }
        },
        error: function(xhr, textStatus, error) {
          if (xhr.status == 403) {
            location.href = "${reverse('signin_user')}";
          }
        }
      });
      return false;
    });
  })(this)
  </script>
</%block>

<section class="container dashboard">

  %if message:
    <section class="dashboard-banner">
      ${message}
    </section>
  %endif

  <section class="profile-sidebar">
    <header class="profile">
      <h1 class="user-name">${ user.username }</h1>
    </header>
    <section class="user-info">
      <ul>
        <li>
          <span class="title"><div class="icon name-icon"></div>${_("Full Name")} </span>
          <span class="data">${ user.profile.name | h }</span>
        </li>
        <li>
          <span class="title"><div class="icon email-icon"></div>${_("Email")}
            % if external_auth_map is None or 'shib' not in external_auth_map.external_domain:
            <!--(<a href="#change_email" rel="leanModal" class="edit-email">${_("edit")}</a>)-->
            % endif
          </span> <span class="data">${ user.email | h }</span>
        </li>
        <li>
          <span class="title"><div class="icon name-icon"></div>${_("Proctor")}
            % if external_auth_map is None or 'shib' not in external_auth_map.external_domain:
            (<a href="#change_proctorinfo" rel="leanModal" class="edit-proctorinfo">${_("edit proctor info")}</a>)
            % endif
          </span> <span class="data">${ user.email | h }</span>
        </li>

        % if external_auth_map is None or 'shib' not in external_auth_map.external_domain:
        <!--li>
          <span class="title"><a href="#password_reset_complete" rel="leanModal" id="pwd_reset_button">${_("Reset Password")}</a></span>
          <form id="password_reset_form" method="post" data-remote="true" action="${reverse('password_reset')}">
            <input id="id_email" type="hidden" name="email" maxlength="75" value="${user.email}" />
            <!-- <input type="submit" id="pwd_reset_button" value="${_('Reset Password')}" /> -->
          </form>
        </li-->
        % endif

      </ul>
    </section>

  </section>

  <section class="my-courses">
    <header>
      <h2>${_("Current Courses")}</h2>
    </header>

    % if len(courses) > 0:
      <ul class="listing-courses">
        % for course, enrollment in courses:
        <li class="course-item">
          <article class="course ${enrollment.mode}">
            <%
              if waffle.flag_is_active(request, 'merge_course_tabs'):
                  course_target = reverse('courseware', args=[course.id])
              else:
                  course_target = reverse('info', args=[course.id])
            %>

            % if course.id in show_courseware_links_for:
              <a href="${course_target}" class="cover">
                <img src="${course_image_url(course)}" alt="${_('{course_number} {course_name} Cover Image').format(course_number=course.number, course_name=course.display_name_with_default) |h}" />
              </a>
            % else:
              <div class="cover">
                <img src="${course_image_url(course)}" alt="${_('{course_number} {course_name} Cover Image').format(course_number=course.number, course_name=course.display_name_with_default) | h}" />
              </div>
            % endif

            % if enrollment.mode == "verified":
            <span class="sts-enrollment">
              <span class="label">${_("Enrolled as: ")}</span>
              <img class="deco-graphic" src="${static.url('images/vcert-ribbon-s.png')}" alt="ID Verified Ribbon/Badge">
              <span class="sts-enrollment-value">${_("ID Verified")}</span>
            </span>
            % endif

            <section class="info">
              <hgroup>
                <p class="date-block">
                % if course.has_ended():
                ${_("Course Completed - {end_date}").format(end_date=course.end_date_text)}
                % elif course.has_started():
                ${_("Course Started - {start_date}").format(start_date=course.start_date_text)}
                % else:   # hasn't started yet
                ${_("Course Starts - {start_date}").format(start_date=course.start_date_text)}
                % endif
                </p>
                <h2 class="university">${get_course_about_section(course, 'university')}</h2>
                <h3>
                  % if course.id in show_courseware_links_for:
                    <a href="${course_target}">${course.display_number_with_default | h} ${course.display_name_with_default}</a>
                  % else:
                    <span>${course.display_number_with_default | h} ${course.display_name_with_default}</span>
                  % endif
                </h3>
              </hgroup>

              <%
                  testcenter_exam_info = course.current_test_center_exam
                  registration = exam_registrations.get(course.id)
                  testcenter_register_target = reverse('begin_exam_registration', args=[course.id])
              %>
              % if testcenter_exam_info is not None:

                  % if registration is None and testcenter_exam_info.is_registering():
                  <div class="message message-status is-shown exam-register">
                    <a href="${testcenter_register_target}" class="button exam-button" id="exam_register_button">${_("Register for Pearson exam")}</a>
                    <p class="message-copy">${_("Registration for the Pearson exam is now open and will close on {end_date}").format(end_date="<strong>{}</strong>".format(testcenter_exam_info.registration_end_date_text))}</p>
                  </div>
                  % endif
                  <!-- display a registration for a current exam, even if the registration period is over -->
                  % if registration is not None:
                      % if registration.is_accepted:
                  <div class="message message-status is-shown exam-schedule">
                     <a href="${registration.registration_signup_url}" class="button exam-button">${_("Schedule Pearson exam")}</a>
                     <p class="exam-registration-number">${_("{link_start}Registration{link_end} number: {number}").format(
                        link_start='<a href="{url}" id="exam_register_link">'.format(url=testcenter_register_target),
                        link_end='</a>',
                        number=registration.client_candidate_id,
                      )}</p>
                     <p class="message-copy">${_("Write this down! You'll need it to schedule your exam.")}</p>
                  </div>
                      % endif
                      % if  registration.is_rejected:
                  <div class="message message-status is-shown exam-schedule">
                    <p class="message-copy">
                      <strong>${_("Your registration for the Pearson exam has been rejected. Please {link_start}see your registration status details{link_end}.").format(
                        link_start='<a href="{url}" id="exam_register_link">'.format(url=testcenter_register_target),
                        link_end='</a>')}</strong>
                      ${_("Otherwise {link_start}contact edX at {email}{link_end} for further help.").format(
                        link_start='<a class="contact-link" href="mailto:{email}?subject=Pearson VUE Exam - {about} {number}">'.format(email="exam-help@edx.org", about=get_course_about_section(course, 'university'), number=course.display_number_with_default),
                        link_end='</a>',
                        email="exam-help@edx.org",
                       )}
                  </div>
                      % endif
                     	% if not registration.is_accepted and not registration.is_rejected:
  	            <div class="message message-status is-shown">
                    <p class="message-copy"><strong>${_("Your {link_start}registration for the Pearson exam{link_end} is pending.").format(link_start='<a href="{url}" id="exam_register_link">'.format(url=testcenter_register_target), link_end='</a>')}</strong>
                    ${_("Within a few days, you should see a confirmation number here, which can be used to schedule your exam.")}
                    </p>
                  </div>
                      % endif
                  % endif
              % endif

              <%
              cert_status = cert_statuses.get(course.id)
              %>
              % if course.has_ended() and cert_status:
                  <%
                  if cert_status['status'] == 'generating':
                      status_css_class = 'course-status-certrendering'
                  elif cert_status['status'] == 'ready':
                      status_css_class = 'course-status-certavailable'
                  elif cert_status['status'] == 'notpassing':
                      status_css_class = 'course-status-certnotavailable'
                  else:
                      status_css_class = 'course-status-processing'
                  %>
                  <div class="message message-status ${status_css_class} is-shown">

                  % if cert_status['status'] == 'processing':
                        <p class="message-copy">${_("Final course details are being wrapped up at this time. Your final standing will be available shortly.")}</p>
                  % elif cert_status['status'] in ('generating', 'ready', 'notpassing', 'restricted'):
                        <p class="message-copy">${_("Your final grade:")}
                        <span class="grade-value">${"{0:.0f}%".format(float(cert_status['grade'])*100)}</span>.
                        % if cert_status['status'] == 'notpassing':
                           ${_("Grade required for a certificate:")} <span class="grade-value">
                             ${"{0:.0f}%".format(float(course.lowest_passing_grade)*100)}</span>.
                        % elif cert_status['status'] == 'restricted':
                            <p class="message-copy">
                            ${_("Your certificate is being held pending confirmation that the issuance of your certificate is in compliance with strict U.S. embargoes on Iran, Cuba, Syria and Sudan. If you think our system has mistakenly identified you as being connected with one of those countries, please let us know by contacting {email}.").format(email='<a class="contact-link" href="mailto:{email}">{email}</a>.'.format(email=settings.CONTACT_EMAIL))}
                            </p>
                        % endif
                        </p>
                  % endif

                  % if cert_status['show_disabled_download_button'] or cert_status['show_download_url'] or cert_status['show_survey_button']:
                    <ul class="actions">
                      % if cert_status['show_disabled_download_button']:
                        <li class="action"><span class="disabled">
                            ${_("Your Certificate is Generating")}</span></li>
                      % elif cert_status['show_download_url']:
                        <li class="action">
                        <a class="btn" href="${cert_status['download_url']}"
                           title="${_('This link will open/download a PDF document')}">
                           Download Your PDF Certificate</a></li>
                      % endif

                      % if cert_status['show_survey_button']:
                        <li class="action"><a class="cta" href="${cert_status['survey_url']}">
                               ${_('Complete our course feedback survey')}</a></li>
                      % endif
                    </ul>
                  % endif
                  </div>
            % endif
            <!--a href="#unenroll-modal" class="unenroll" rel="leanModal" data-course-id="${course.id}" data-course-number="${course.number}">${_('Unregister')}</a-->

              % if course.id in show_courseware_links_for:
                % if course.has_ended():
                  <a href="${course_target}" class="enter-course archived">${_('View Archived Course')}</a>
                % else:
                  <a href="${course_target}" class="enter-course">${_('View Course')}</a>
                % endif
              % endif



              <!--a href="#unenroll-modal" class="unenroll" rel="leanModal" data-course-id="${course.id}" data-course-number="${course.number}">${_('Unregister')}</a-->

  	    % if settings.MITX_FEATURES['ENABLE_INSTRUCTOR_EMAIL'] and modulestore().get_modulestore_type(course.id) == MONGO_MODULESTORE_TYPE:
  	      <!-- Only show the Email Settings link/modal if this course has bulk email feature enabled -->
                <a href="#email-settings-modal" class="email-settings" rel="leanModal" data-course-id="${course.id}" data-course-number="${course.number}" data-optout="${course.id in course_optouts}">${_('Email Settings')}</a>
  	    % endif
          </section>
        </article>
      </li>
      % endfor

      </ul>
    % else:
      <section class="empty-dashboard-message">
        % if settings.MITX_FEATURES.get('COURSES_ARE_BROWSABLE'):
          <p>${_("Looks like you haven't registered for any courses yet.")}</p>
          <a href="${marketing_link('COURSES')}">
            ${_("Find courses now!")}
          </a>
        % else:
          <p>${_("Looks like you haven't been enrolled in any courses yet.")}</p>
        %endif
      </section>
    % endif

    % if staff_access and len(errored_courses) > 0:
      <div id="course-errors">
        <h2>${_("Course-loading errors")}</h2>

      % for course_dir, errors in errored_courses.items():
         <h3>${course_dir | h}</h3>
             <ul>
           % for (msg, err) in errors:
               <li>${msg}
                 <ul><li><pre>${err}</pre></li></ul>
               </li>
           % endfor
             </ul>
      % endfor
    % endif
  </section>
</section>

<section id="password_reset_complete" class="modal">
  <div class="inner-wrapper">
    <header>
      <h2>${_('Password Reset Email Sent')}</h2>
      <hr/>
    </header>
    <div>
      <form> <!-- Here for styling reasons -->
        <section>
          <p>${_('An email has been sent to {email}. Follow the link in the email to change your password.').format(email=user.email)}</p>
        </section>
      </form>
    </div>
    <a href="#" role="button" class="close-modal" title="${_('Close Modal')}">&#10005;</a>
  </div>
</section>

<section id="change_proctorinfo" class="modal">
  <div class="inner-wrapper">
    <header>
      <h2><span id="change_proctorinfo_title">${_("Edit Proctor Info")}</span></h2>
      <hr/>
    </header>
    <div id="change_proctorinfo_body">
      <form id="change_proctorinfo_form" action="javascript:return false;" method="GET">
        
        
        <fieldset>



          
<div class="input-group">
<p>         
  <span class="required">* required field</span>
</p>
</div>
<div class="input-group">
  <h2>Proctor Information</h2>
  <div style="height: 10px; overflow: hidden;"></div>

<p>
<label><span class="required">*</span>${_('First name:')}</label>
<div class="change_proctorinfo_error" id="proctor_first_name_error"></div>
${ form['first_name'] }
</p>

<p>
<label><span class="required">*</span>${_('Last name:')}</label>
<div class="change_proctorinfo_error" id="proctor_last_name_error"></div>
${ form['last_name'] }
</p>
<p>
<label><span class="required">*</span>${_('Title:')}</label>
<div class="change_proctorinfo_error" id="proctor_title_error"></div>
${ form['title'] }
</p>
<p>
<label><span class="required">*</span>${_('Relationship to Student:')}</label>
<div class="change_proctorinfo_error" id="proctor_relationship_to_student_error"></div>
${ form['relationship_to_student'] }
</p>
<p>
<b><u><font color=red>ATTENTION:</font></u><font size=-1> Please enter valid company email addresses only!</b></font><br>
<font size=-1><u>Good Example</u>: joe@us.ibm.com , joe@motorola.com</font> <br>
<font size=-1><u>Bad Example</u>: joe@yahoo.com , joe@hotmail.com</font>  <br>
</p>
<p>
<label><span class="required">*</span>${_('Email:')}</label>
<div class="change_proctorinfo_error" id="proctor_email_error"></div>
${ form['email'] }
</p>
<p>
<label><span class="required">*</span>${_('Phone number:')}</label>
<div class="change_proctorinfo_error" id="proctor_phone_error"></div>
${ form['phone'] }
</p>
<p>
<label>${_('Fax number:')}</label>
<div class="change_proctorinfo_error" id="proctor_fax_error"></div>
${ form['fax'] }
</p>
</div>

<div class="input-group">
<h2>Exam Location</h2>
<div style="height: 10px; overflow: hidden;"></div>

<p>
<label><span class="required">*</span>${_('Street Address 1:')}</label>
<div class="change_proctorinfo_error" id="proctor_street_address_1_error"></div>
${ form['street_address_1'] }
</p>
<p>
<label>${_('Street Address 2:')}</label>
<div class="change_proctorinfo_error" id="proctor_street_address_2_error"></div>
${ form['street_address_2'] }
</p>
<p>
<label><span class="required">*</span>${_('City:')}</label>
<div class="change_proctorinfo_error" id="proctor_city_error"></div>
${ form['city'] }
</p>
<p>
<label>${_('State:')}</label>
<div class="change_proctorinfo_error" id="proctor_state_error"></div>
${ form['state'] }
</p>
<p>
<label>${_('ZIP code:')}</label>
<div class="change_proctorinfo_error" id="proctor_zip_code_error"></div>
${ form['zip_code'] }
</p>
<p>
<label><span class="required">*</span>${_('Country:')}</label>
<div class="change_proctorinfo_error" id="proctor_country_error"></div>
${ form['country'] }
</p>


<!--input type="text" name="first" size=28 maxlength=31 value="" required/ >

<label><span class="required">*</span>${_('Last name:')}</label>
<input type="text" name="last" size=28 maxlength=31 value="" required/>

<label><span class="required">*</span>${_('Title:')}</label>
<input type="text" name="title" size=28 maxlength=31 value="" required/>

<label><span class="required">*</span>${_('Relationship to Student:')}</label>
<input type="text" name="stud_relation" size=28 maxlength=31 value="" required/>

<input type="hidden" name="studlast" value="">
<input type="hidden" name="semail" value="">

<p>
<b><u><font color=red>ATTENTION:</font></u><font size=-1> Please enter valid company email addresses only!</b></font><br>
<font size=-1><u>Good Example</u>: joe@us.ibm.com , joe@motorola.com</font> <br>
<font size=-1><u>Bad Example</u>: joe@yahoo.com , joe@hotmail.com</font>  <br>
</p>

<label><span class="required">*</span>${_('Email:')}</label>
<input type="email" name="email" size="28" maxlength=50 value="" required/>

<label><span class="required">*</span>${_('Phone number:')}</label>
<input type="Text" name="phone" size="15" maxlength="31" value="" required/>

<label>${_('Fax number:')}</label>
<input type="Text" name="fax" size="15" maxlength="31" value="">
</div>

<div class="input-group">
<h2>Exam Location</h2>
<div style="height: 10px; overflow: hidden;"></div>

<label><span class="required">*</span>${_('Street address 1:')}</label>
<input type="Text" name="address1" size="28" maxlength="31" value="" required/>

<label>${_('Street address 2:')}</label>
<input type="Text" name="address2" size="28" maxlength="31" value="">

<label><span class="required">*</span>${_('City:')}</label>
<input type="Text" name="city" size="20" maxlength="31" value="" required/>

<label>${_('State:')}</label>
<input type="Text" name="state" size="2" maxlength="31" value="" ></td>

<label>${_('ZIP code:')}</label>
<input type="Text" name="zip" size="6" maxlength="31" value="" >

<label><span class="required">*</span>${_('Country:')}</label>
<select name="country" size=1>
<option selected>USA

<option>Afghanistan
<option>Albania
<option>Algeria
<option>American Samoa
<option>Andorra
<option>Angola
<option>Anguilla
<option>Antarctica
<option>Antigua And Barbuda
<option>Argentina
<option>Armenia
<option>Aruba
<option>Australia
<option>Austria
<option>Azerbaijan
<option>Bahamas
<option>Bahrain

<option>Bangladesh
<option>Barbados
<option>Belarus
<option>Belgium
<option>Belize
<option>Benin
<option>Bermuda
<option>Bhutan
<option>Bolivia
<option>Bosnia and Herzegowina
<option>Botswana
<option>Bouvet Island
<option>Brazil
<option>British Indian Ocean Territory
<option>Brunei Darussalam
<option>Bulgaria
<option>Burkina Faso

<option>Burma
<option>Burundi
<option>Cambodia
<option>Cameroon
<option>Canada
<option>Cape Verde
<option>Cayman Islands
<option>Central African Republic
<option>Chad
<option>Chile
<option>China
<option>Christmas Island
<option>Cocos (Keeling) Islands
<option>Colombia
<option>Comoros
<option>Congo
<option>Congo, the Democratic Republic of the

<option>Cook Islands
<option>Costa Rica
<option>Cote d'Ivoire
<option>Croatia
<option>Cyprus
<option>Czech Republic
<option>Denmark
<option>Djibouti
<option>Dominica
<option>Dominican Republic
<option>East Timor
<option>Ecuador
<option>Egypt
<option>El Salvador
<option>England
<option>Equatorial Guinea
<option>Eritrea

<option>Espana
<option>Estonia
<option>Ethiopia
<option>Falkland Islands (Malvinas)
<option>Faroe Islands
<option>Fiji
<option>Finland
<option>France
<option>French Guiana
<option>French Polynesia
<option>French Southern Territories
<option>Gabon
<option>Gambia
<option>Georgia
<option>Germany
<option>Ghana
<option>Gibraltar

<option>Great Britain
<option>Greece
<option>Greenland
<option>Grenada
<option>Guadeloupe
<option>Guam
<option>Guatemala
<option>Guinea
<option>Guinea-Bissau
<option>Guyana
<option>Haiti
<option>Heard and Mc Donald Islands
<option>Holy See (Vatican City State)
<option>Honduras
<option>Hong Kong
<option>Hungary
<option>Iceland

<option>India
<option>Indonesia
<option>Ireland
<option>Israel
<option>Italy
<option>Jamaica
<option>Japan
<option>Jordan
<option>Kazakhstan
<option>Kenya
<option>Kiribati
<option>Korea (South)
<option>Korea, Republic of
<option>Kuwait
<option>Kyrgyzstan
<option>Lao People's Democratic Republic
<option>Latvia

<option>Lebanon
<option>Lesotho
<option>Liberia
<option>Liechtenstein
<option>Lithuania
<option>Luxembourg
<option>Macau
<option>Macedonia
<option>Madagascar
<option>Malawi
<option>Malaysia
<option>Maldives
<option>Mali
<option>Malta
<option>Marshall Islands
<option>Martinique
<option>Mauritania

<option>Mauritius
<option>Mayotte
<option>Mexico
<option>Micronesia, Federated States of
<option>Moldova, Republic of
<option>Monaco
<option>Mongolia
<option>Montserrat
<option>Morocco
<option>Mozambique
<option>Myanmar
<option>Namibia
<option>Nauru
<option>Nepal
<option>Netherlands
<option>Netherlands Antilles
<option>New Caledonia

<option>New Zealand
<option>Nicaragua
<option>Niger
<option>Nigeria
<option>Niue
<option>Norfolk Island
<option>Northern Ireland
<option>Northern Mariana Islands
<option>Norway
<option>Oman
<option>Other
<option>Pakistan
<option>Palau
<option>Panama
<option>Papua New Guinea
<option>Paraguay
<option>Peru

<option>Philippines
<option>Pitcairn
<option>Poland
<option>Portugal
<option>Puerto Rico
<option>Qatar
<option>Reunion
<option>Romania
<option>Russia
<option>Russian Federation
<option>Rwanda
<option>Saint Kitts and Nevis
<option>Saint Lucia
<option>Saint Vincent and the Grenadines
<option>Samoa
<option>San Marino
<option>Sao Tome and Principe

<option>Saudi Arabia
<option>Scotland
<option>Senegal
<option>Seychelles
<option>Sierra Leone
<option>Singapore
<option>Slovakia
<option>Slovenia
<option>Solomon Islands
<option>Somalia
<option>South Africa
<option>South Korea
<option>Spain
<option>Sri Lanka
<option>St. Helena
<option>St. Pierre and Miquelon
<option>Suriname

<option>Svalbard and Jan Mayen Islands
<option>Swaziland
<option>Sweden
<option>Switzerland
<option>Taiwan
<option>Tajikistan
<option>Tanzania
<option>Thailand
<option>Togo
<option>Tokelau
<option>Tonga
<option>Trinidad
<option>Trinidad and Tobago
<option>Tunisia
<option>Turkey
<option>Turkmenistan
<option>Turks and Caicos Islands

<option>Tuvalu
<option>USA
<option>Uganda
<option>Ukraine
<option>United Arab Emirates
<option>United Kingdom
<option>United States
<option>United States Minor Outlying Islands
<option>Uruguay
<option>Uzbekistan
<option>Vanuatu
<option>Venezuela
<option>Viet Nam
<option>Virgin Islands (British)
<option>Virgin Islands (U.S.)
<option>Wales
<option>Wallis and Futuna Islands

<option>Western Sahara
<option>Yemen
<option>Zambia
<option>Zimbabwe
<option>Other
</select>


<!--p>
<br />Make sure you bring an
<a href="createcover.php" target="_blank">exam coversheet</a>
with you to the exam.
</p-->
</div>
<section>
<p>
<i>Please carefully review the link below before submitting proctor information:</i>
<br>
<a href="academicintegrity.php" target="_blank"> Academic Integrity and Exam Proctoring Guidelines </a>
</p>
</section>
<div id="change_proctorinfo_error" class="modal-form-error"> </div>
<div id="change_proctorinfo_success" class="modal-form-success" style="background:#8FC75C; border: 1px solid #329014; color: #0A751F; padding:10px; display:none;"> </div>
<div class="submit">
    <input type="submit" id="plz_submit_proctorinfo_change" value="${_('Save Proctor Info')}"/>
</div>
          
          
          
          
          
          
          
          
          
          
          
        </fieldset>
      </form>
    </div>
    <a href="#" role="button" class="close-modal" title="${_('Close Modal')}">&#10005;</a>
  </div>
</section>

<!--section id="apply_name_change" class="modal">
  <div class="inner-wrapper">
    <header>
      <h2>${_("Change your name")}</h2>
      <hr/>
    </header>
    <div id="change_name_body">
      <form id="change_name_form">
        <div id="change_name_error" class="modal-form-error"> </div>
        <p>${_("To uphold the credibility of {platform} certificates, all name changes will be logged and recorded.").format(platform=settings.PLATFORM_NAME)}</p>
        <br/>
        <fieldset>
          <div class="input-group">
            <label>${_("Enter your desired full name, as it will appear on the {platform} certificates:").format(platform=settings.PLATFORM_NAME)}</label>
            <input id="new_name_field" value="" type="text" />
            <label>${_("Reason for name change:")}</label>
            <textarea id="name_rationale_field" value=""></textarea>
          </div>
          <div class="submit">
            <input type="submit" id="submit" value="${_('Change My Name')}">
          </div>
        </fieldset>
      </form>
    </div>
    <a href="#" role="button" class="close-modal" title="${_('Close Modal')}">&#10005;</a>
  </div>
</section-->
