<%! from django.utils.translation import ugettext as _ %>

<%! from django.core.urlresolvers import reverse %>
<%! from django.conf import settings %>
<%! from time import strftime %>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<section class="home">
  <header>
  <div style="width: 900px; margin: 25px auto;">
    <div class="outer-wrapper" style="margin-right:center; padding-left: 3%;">
      <div class="title">
        <hgroup>
        <div style="text-align:center; margin-left: 9px;">
          <h1><font size="5">Learning Management System</font></h1></div>
          <div style="margin-top:30px; text-align:center; margin-left: 10px;">
            <a class="" style="border-radius: 2px 2px 2px 2px; box-shadow: 0 2px 1px 0 #0A4A67; background-color: #126F9A; padding:20px 40px; color:#fff; display:block; margin-bottom:20px" href="${reverse('signin_user')}">Log in with UNI</a>
            If you haven't yet obtained a Columbia UNI:
            <a class="cta cta-login" style="padding:0px 0px; color:#00c; display:block; margin-top:10px" href="${settings.CVN_SC_URL}">Log in through CVN</a>
          </div>
        </div>
        </hgroup>
      </div>
    </div>
  </header>
</section>
